* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    background-image: url(../assets/wallpaper\ background.jpg);
    background-repeat: repeat;
    background-size: contain;
    z-index: 500;
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    /* text-shadow: 1.5px 1.5px 2px rgb(184, 151, 18); */
    background-color: rgba(255, 255, 255, 0.475);
    border-radius: 8px;
    padding: 0.3rem;
    font-size: 1.8rem;
}

.division-of-head-div-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.division-of-head-div-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#head-div {
    margin-top: 3dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;

}

#head-div h1 {
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    background-image: linear-gradient(rgb(170, 56, 56), rgb(0, 247, 255rgb(51, 0, 255)0));
}

.recipes-infos>* {
    background-color: rgba(255, 255, 255, 0.475);
    text-shadow: 1.5px 1.5px 2px rgba(72, 255, 0, 0.46);
    border: 2px rgba(72, 255, 0, 0.46) solid;
    border-radius: 8px;
    padding: 0.3rem;
    font-size: 1.8rem;
    width: 20vw;
    line-height: 32px;
    margin-top: 1.5dvh;
    padding-bottom: 2vdh;

}

#img-main {
    margin-top: 1.2dvh;
    border: 2px rgb(59, 44, 12) solid;
    width: 35vw;
}

#label-img {
    font-family: 'Satisfy', cursive;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#video-example {
    position: sticky;
    top: 10vh;
    left: 100vw;
    width: 30vw;
    height: fit-content;
    align-self: normal;
    justify-self: normal;
    margin-right: 0.5vw;
}

#ingredients-div-video {
    margin-top: 10dvh;
    display: flex;
    flex-direction: row-reverse;
}

#ingredients-div {
    font-family: 'Satisfy', cursive;
    line-height: 22px;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#ingredients-div>* {
    margin-top: 1.5dvh;

}

#ingredients-div ol>* {
    background-color: rgba(211, 250, 200, 0.704);
    border-radius: 5px;
    border: 2px rgba(72, 255, 0, 0.46) solid;
    text-shadow: 1.5px 1.5px 2px rgba(72, 255, 0, 0.46);
    line-height: 32px;
    margin-top: 1.5dvh;
    padding-bottom: 2vdh;
    width: 62vw;
}

#ingredients-div ol {
    list-style-image: url(../assets/fork-and-knife-png-3680.png);
}

/* ------------------------------------------------------------------------------------------------------------------ */

#way-of-preparation-div {
    font-family: 'Satisfy', cursive;
    line-height: 22px;
    margin-top: 5dvh;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#way-of-preparation-div>* {
    margin-top: 1.5dvh;
}

#way-of-preparation-div ol {
    list-style-image: url(../assets/fork-and-knife-png-3680.png);
}

#way-of-preparation-div ol>* {
    line-height: 32px;
    margin-top: 1.5dvh;
    width: 90vw;
    background-color: rgba(211, 250, 200, 0.704);
    border-radius: 5px;
    border: 2px rgba(72, 255, 0, 0.46) solid;
    text-shadow: 1.5px 1.5px 2px rgba(72, 255, 0, 0.46);
    height: auto;
}

li {
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#finalization {
    margin-top: 9dvh;
    margin-bottom: 3dvh;
    background-color: rgba(211, 250, 200, 0.704);
    border-radius: 5px;
    border: 2px rgba(72, 255, 0, 0.46) solid;
    text-shadow: 1.5px 1.5px 2px rgba(72, 255, 0, 0.46);
    text-align: center;
    min-height: 8vh;
    padding: 1rem;
    width: 60vw;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */

@media only screen and (min-width:1420px) {
    #head-div {
        padding: 0px 6rem;
    }

    .recipes-infos>p {
        margin-top: 3rem;
        font-size: 2rem;

    }

    body {
        font-size: 1.5rem;

    }

    .recipes-infos>* {
        font-size: 1.5rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        font-size: 2.0rem;
        padding: 0.7rem;
    }

    h3 {
        padding: 1.2rem;
    }

    #head-div h1 {
        font-size: 3.0rem;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1420px) {
    #ingredients-div {
        flex-wrap: wrap;
        width: 100%;
    }

    #ingredients-div ol>* {
        width: 60vw;
    }

    #way-of-preparation-div {
        flex-wrap: wrap;
        width: 100%;
    }

    body {
        font-size: 1.8rem;

    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        font-size: 2.5rem;
    }

    #head-div h1 {
        font-size: 3rem;
    }
}


@media only screen and (min-width:450px) and (max-width:700px) {
    #head-div {
        padding: 0px;
    }

    .division-of-head-div-left {
        padding: 0px;
    }

    .recipes-infos>p {
        font-size: 1.3rem;
        width: 30vw;

    }


    body {
        font-size: 1.4rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        margin: 0px 2rem;
    }

    #way-of-preparation-div ol>* {
        width: 77vw;
        margin-left: 2%;
    }

    #ingredients-div ol>* {
        width: 50vw;
    }

    #finalization {
        margin-left: 2%;
    }
}

@media only screen and (max-width:450px) {
    #head-div {
        padding: 0px;
    }

    .division-of-head-div-left {
        padding: 0px;
    }

    .recipes-infos>p {
        font-size: 1.3rem;
        width: 30vw;

    }

    body {
        font-size: 1.2rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        font-size: 1.2rem;
    }

    #head-div h1 {
        font-size: 1.6rem;
    }

    .recipes-infos>* {
        font-size: 1.2rem;
    }

    #video-example {
        width: 40vw;
    }

    #ingredients-div ol>*,
    #ingredients-div>h3 {
        width: 40vw;
        margin-left: 1.5rem;
    }

    #way-of-preparation-div ol>* {
        width: 75vw;
    }

}